<div class="row">
    <div class="col">
        <h1><i class="fa fa-cogs"></i> Console d'administration</h1>

        <hr>
    </div>
</div>

<div class="row">
    <div class="col m6">
        <h2><i class="fa fa-pencil"></i> Modifier son vote</h2>

        <form ng-submit="updateRangeVote()" novalidate>
            <h5 class=""><label for="question">Question</label></h5>
            <input type="text" id="question" ng-model="rangevote.question"/>
            <h5 class="reponses">Réponses</h5>
            <input type="text" ng-model="rangevote.choices[$index]" ng-repeat="choice in rangevote.choices track by $index"/>

            <button class=" margin-top btn-blue" type="submit"><i class="fa fa-floppy-o"></i> enregistrer</button>
        </form>
    </div>
    <div class="col m6">
        <h2><i class="fa fa-lightbulb-o"></i> Astuces</h2>

        <ul>
            <li>L'ordre des votes n'a pas d'importance, vote de valeur affiche un ordre différent pour chaque participant;</li>
            <li>pensez au point d'interrogation, une question se termine toujours par un point d'interrogation.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <share message="message_to_share" url="rangevote_url"></share>
        <input class="input-no-border margin-top" type="text" value="{{rangevote_url}}" select-on-click/>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <h2><i class="fa fa-trophy"></i> Meilleure<span data-ng-show="results.answers.length>1">s</span> réponse<span
                data-ng-show="results.answers.length>1">s</span></h2>
        {{ results.answers.join(', ') }}
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <h2><i class="fa fa-thumbs-up"></i> Votes</h2>

        <p data-ng-hide="rangevote.votes.length>0">il n'y a pas de vote pour le moment</p>

        <div class="table-responsive" data-ng-show="rangevote.votes.length>0">
            <table>
                <tr>
                    <th id="actions">Supprimer</th>
                    <th id="user">Electeur</th>
                    <th class="text-center" ng-repeat="choice in rangevote.choices">{{choice}}</th>
                </tr>
                <tr ng-repeat="vote in rangevote.votes track by $index">
                    <td class="text-center" headers="actions"><a ng-click="deleteVote($index)"><i class="fa fa-trash fa-2x"></i></a></td>
                    <td class="text-center" headers="user">{{vote.elector}}</td>
                    <th class="text-center" ng-repeat="choice in rangevote.choices">{{vote.opinions[choice]}}</th>
                </tr>
            </table>
        </div>
    </div>
</div>