<div class="row">
    <div class="cell text-center">
        <img src="static/img/logo.png" class="img-responsive" alt="logo"/>
    </div>
</div>
<div class="row">
    <div class="cell cell--md-1of5">
    </div>
    <div class="cell cell--md-3of5">
        <form ng-submit="createRangeVote(form)" novalidate>
            <label for="question">
                Question
                <input type="text" id="question" ng-model="form.question" placeholder="Quel type de cuisine préférez-vous ?"/>
            </label>
            <label for="question">
                Choix
                <input type="text" id="choices" ng-model="form.choices" placeholder="Chinoise, Italienne, Française..."/>
            </label>
            <p class="help text-center text-justify">
                <i class="fa fa-info-circle"></i>
                le vote de valeur vous aide à trouver la réponse qui convient le mieux, entrez une question et des choix séparés par des
                virgules
            </p>
            <button class='button-green' type="submit">créer un vote</button>
        </form>
    </div>
</div>