<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ rangevote.question }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col w6">
            <div class="slider">
                <input type="text" id="name" placeholder="Entrez votre nom" ng-model="vote.elector"/>
            </div>
            <br/>
            <div class="slider padding-top" ng-repeat="choice in rangevote.randomized_choices">
                <span>{{ choice }}</span>
                <input type='range' max="2" min="-2" step="1" ng-model="vote.opinions[rangevote.randomized_choices[$index]]"/>
            </div>
        </div>
        <div class="col w6">
        </div>
    </div>
    <div class="row padding-top margin-top">
        <div class="col w6">
            <div class="row">
                <div class="col m5">
                    <button class='btn-blue margin-top' type="submit" ng-click="createNewVote()">
                        Votez !
                    </button>
                </div>
                <div class="col m5">
                    <button class='btn-orange margin-top' type="submit" ng-click="showResults()">
                        Voir les résultats
                    </button>
                </div>
            </div>
        </div>
        <div class="col w6">
        </div>
    </div>
</div>
<div class="container">
     <div class="row padding-top">
        <div class="col w6">
            <share message="message_to_share" url="rangevote_url"></share>
        </div>
        <div class="col w6">
        </div>
    </div>
</div>