<div class="row">
    <div class="medium-6 columns">
        <img id="logo" src="static/img/logo.png" alt="logo"/>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns">
        <form ng-submit="updateRangeVote()" novalidate>
            <label for="question">Question
                <input type="text" id="question" ng-model="rangevote.question"/>
            </label>
            <label>Choix
                <input type="text" ng-model="rangevote.choices[$index]" ng-repeat="choice in rangevote.choices track by $index"/>
            </label>

            <button class="button-green" type="submit"><i class="fa fa-floppy-o"></i> enregistrer</button>
        </form>
    </div>
    <div class="medium-6 columns ends">
        <i class="fa fa-lightbulb-o"></i> <u>astuces</u> :
        <ul>
            <li>L'ordre des votes n'a pas d'importance, vote de valeur affiche un ordre différent pour chaque participant;</li>
            <li>pensez au point d'interrogation, une question se termine toujours par un point d'interrogation.</li>
        </ul>
    </div>
</div>
