@import "variables";

label {
  color: $grey;
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  -moz-appearance: none;
  border-radius: 3px;
  background-color: $white;
  border: 1px solid $light-grey;
  box-shadow: 0 1px 2px $dark-grey inset;
  color: $black;
  display: block;
  font-family: inherit;
  font-size: 0.9rem;
  height: 2rem;
  margin: 0 0 0.8rem;
  padding: 0.4rem;
  width: 100%;
  box-sizing: border-box;
}

button,
.button {
  -moz-appearance: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 0 0.8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  background-color: $blue;
  color: $white;
  transition: background-color 300ms ease-out 0s;
}

label {
  color: $grey;
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  -moz-appearance: none;
  border-radius: 3px;
  background-color: $white;
  border: 1px solid $light-grey;
  box-shadow: 0 1px 2px rgba($dark-grey, 0.1) inset;
  color: rgba($black, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.77778rem;
  height: 2rem;
  margin: 0 0 0.88889rem;
  padding: 0.44444rem;
  width: 100%;
  box-sizing: border-box;
}

button, .button {
  -moz-appearance: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: $font-stack-common;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0.88889rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.44445rem 0.88889rem 0.47222rem;
  font-size: 0.88889rem;
  background-color: $blue;
  border: 0 solid darken($blue, 10%);
  color: $white;
  transition: background-color 300ms ease-out 0s;
}

button:hover, button:focus, .button:hover, .button:focus {
  color: $white;
  background-color: darken($blue, 10%);
}

.button-green {
  color: $light-white;
  background-color: $green;
}

.button-green:hover, .button-green:focus {
  color: $white;
  background-color: darken($green, 10%);
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
  border-color: transparent;
}

.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled] {
  background-color: transparent;
  box-shadow: none;
}

.btn-link {
  font-weight: 400;
  color: $blue;
  border-radius: 0;
  padding: 0;
  margin: 0;
}