@import "variables";

$padding-fields:.5*$gutter;

@mixin fields-size {
  font-size: 12px;
  @media (min-width: $medium-screen) {
    font-size: 14px;
  }
}

input {
  outline: medium none;
  box-sizing: border-box;
  border: 0 none;
  color: $grey700;
  background-color: inherit;
  line-height: normal;
  height: 50px;
  padding: $padding-fields $padding-fields $padding-fields 0;
  border-radius: 0;
  width: 100%;
  border-bottom: 1px solid $grey400;
  @include fields-size;
}

button {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  height: 50px;
  border-radius: 0;
  padding: $padding-fields;
  border: medium none;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  @include fields-size;
}

button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-orange {
  background-color: $orange;
  color: $light-white;
}

.btn-blue{
  background-color: $blue-btn;
  color: $light-white;
}

.input-help{
  color: $grey500;
  font-size: 12px;
  margin: 0;
  padding: $padding-fields $padding-fields $padding-fields 0;
  cursor: help;
}

.input-help.error{
  color: $red;
  background-color: inherit;

  @include fields-size;
}

.input-error{
  border-bottom: 2px solid $red;
}