@import 'variables';
body {
  text-rendering: optimizelegibility;
  font-size: $font-size;
  line-height: 1.35;
  font-family: $font-stack-common;
}

h1, h2, h3, h4 {
  font-family: $font-stack-headings;
}

h1 {
  font-weight: bolder;
  font-size: 2.2rem;
  line-height: 1.2;
}

h2 {
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.2;
}