//grid
$container-width: 1140px;

// colors
$white                  : #FFFFFF;
$light-white            : #FAFAFA;
$light-grey             : #EDEDED;
$grey                   : #7E7E7E;
$dark-grey              : #333333;
$brown                  : #795548;
$black                  : #111111;
$amber                  : #FFC107;
$yellow                 : #FFEB3B;
$lime                   : #CDDC39;
$light-green            : #8BC34A;
$green                  : #4CAF50;
$teal                   : #009688;
$cyan                   : #00BCD4;
$blue                   : #2196F3;
$light-blue             : #03A9F4;
$blue-grey              : #607D8B;
$twitter-color          : #55ACEE;
$facebook-color         : #3b5998;
$orange                 : #FF9800;
$deep-orange            : #FF5722;
$google-plus-color      : #D34836;
$red                    : #F44336;
$pink                   : #E91E63;
$purple                 : #9C27B0;
$deep-purple            : #673AB7;
$indigo                 : #3F51B5;

// typography
$font-stack-common    : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; // common font
$font-stack-headings  : Helvetica, Arial, sans-serif; // headings font
$font-stack-monospace : Consolas, DejaVu Sans Mono, Courier, monospace; // monospace font


// spacings
$tiny-value             : 5px; // tiny value for margins / paddings
$small-value            : 10px; // small value for margins / paddings
$medium-value           : 20px; // medium value for margins / paddings
$large-value            : 40px; // large value for margins / paddings
$extra-large-value      : 80px; // extra large value for margins / paddings
$ultra-large-value      : 160px; // ultra large value for margins / paddings

// breakpoints
$tiny-screen            : 480px; // tiny screens media query (less than 480px)
$small-screen           : 768px; // screens between 481px and 768px
$medium-screen          : 1024px; // screens between 769px and 1024px
$large-screen           : 1280px; // screens between 1025px and 1280px
$extra-large-screen     : 1600px; // screens between 1281px and 1600px
$ultra-large-screen     : 1920px; // ultra large screens

// grids variables
$gutter:  1em; // gutter value for grid layouts. Unit can be: %, px, em, rem
$mi-gutter: .5em;
$container-width: 1140px;
