// colors
$white                  : #FFFFFF;
$light-white            : #FFFEFF;
$brown                  : #795548;
$grey50                 : #fafafa;
$grey100                : #f5f5f5;
$grey200                : #eeeeee;
$grey300                : #e0e0e0;
$grey400                : #bdbdbd;
$grey500                : #9e9e9e;
$grey600                : #757575;
$grey700                : #616161;
$grey800                : #424242;
$grey900                : #212121;
$black                  : #111111;
$amber                  : #FFC107;
$yellow                 : #FDD835;
$lime                   : #CDDC39;
$light-green            : #8BC34A;
$green                  : #4CAF50;
$teal                   : #009688;
$cyan                   : #00BCD4;
$light-blue             : #03A9F4;
$link-color             : #1976D2;
$blue                   : #0d47a1;
$blue-grey              : #607D8B;
$twitter-color          : #55ACEE;
$facebook-color         : #3b5998;
$orange                 : #E78733;
$deep-orange            : #FF5722;
$google-plus-color      : #D34836;
$red                    : #d50000;
$pink                   : #E91E63;
$purple                 : #9C27B0;
$deep-purple            : #673AB7;
$indigo                 : #3F51B5;

// typography
$font-stack-common      : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; // common font
$font-stack-headings    : Helvetica, Arial, sans-serif; // headings font
$font-stack-monospace   : Consolas, DejaVu Sans Mono, Courier, monospace; // monospace font
$font-size              : 18px;

// breakpoints
$tiny-screen            : 480px; // tiny screens media query (less than 480px)
$small-screen           : 768px; // screens between 481px and 768px
$medium-screen          : 1024px; // screens between 769px and 1024px
$large-screen           : 1280px; // screens between 1025px and 1280px
$extra-large-screen     : 1600px; // screens between 1281px and 1600px
$ultra-large-screen     : 1920px; // ultra large screens

// grids variables
$container-width        : 1140px;
$gutter                 : 1em;