//@import "debug";
@import 'variables';
@import "grid";
@import "typography";
@import "forms";
@import "tables";
@import "helpers";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $grey50;
  color: $grey800;
}

a {
  color: $link-color;
}

hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}

.last-questions-title {
  color: $blue-btn;
}

#questionForm {
  padding: $gutter 0;
  @media (min-width: $medium-screen) {
    padding: 5*$gutter 0;
  }
}

footer {
  padding: 3*$gutter 0;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: $font-stack-monospace;
}


.fa-twitter {
  color: $twitter-color;
}

.fa-facebook {
  color: $facebook-color;
}

.fa-google-plus, .fa-trash {
  color: $google-plus-color;
}

.fa-external-link {
  color: $grey700;
}

.fa-twitter:hover {
  color: darken($twitter-color, 10%);
}

.fa-facebook:hover {
  color: darken($facebook-color, 10%);
}

.fa-google-plus:hover, .fa-trash:hover {
  color: darken($google-plus-color, 10%);
}

.fa-external-link:hover {
  color: darken($grey700, 10%);
}
